img {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.proj {
  background-color: white;
  position: right;
  width: 44%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  flex-direction: column;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.modal-enter {
  animation-name: slideInRight;
}

.modal-exit {
  animation-name: slideOutRight;
}
.cont-proj {
  width: 90%;
  margin: auto;
  z-index: 2;
  overflow-y: scroll;
  height: 100%;
}
h1 {
  color: black;
  text-transform: capitalize;
  font-size: 28px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p {
  margin-bottom: 1.6rem;
}

li {
  list-style: none;
  background-color: rgb(230, 228, 220);
  margin: 0.3rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.about-pr {
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-size: 20px;
}

.open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.open:hover {
  text-decoration: underline;
}

.open a {
  color: white;
  font-size: 18px;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 125px;
}

.container-open {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 100%;
}
.links img {
  width: 30px;
  height: 30px;
}

.links h2 {
  margin-top: 1rem;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.links h3 {
  margin-bottom: 2.5rem;
}
h3 a {
  color: black;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

h3 a:hover {
  text-decoration: underline;
}

.descr {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.cont-proj::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.cont-proj::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.cont-proj::-webkit-scrollbar-track {
  background-color: transparent;
}

.box-link {
  display: flex;
}

.a-icon {
  display: flex;
  align-items: center;
}

.box-link h3 {
  margin-left: 0.3rem;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .proj {
    width: 100%;
  }
}
