.container-max {
  height: 100vh;
  background-position-x: center;
  background-size: contain;
  background-attachment: fixed;
}
body {
  background-color: black;
  background-position: center;
  background-size: cover;
}
